In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Depression.csv")

In [3]:
df.head()

   Sr.no   People  Insomnia  Anxiety  frustration  Output
0      1   Aditya         7        5            3       6
1      2   Jayesh         4        6            8       6
2      3   Dhiraj         8        6            5       7
3      4  Sushant         2        1            4       3
4      5     Rhea         1        1            2       2

In [4]:
X=df[['Insomnia','Anxiety','frustration']]
Y=df['Output']

In [5]:
print(df.head())
train_data=df.sample(frac=0.8)

test_data=df.drop(train_data.index)

print(train_data.shape)
print(test_data.shape)

   Sr.no   People  Insomnia  Anxiety  frustration  Output
0      1   Aditya         7        5            3       6
1      2   Jayesh         4        6            8       6
2      3   Dhiraj         8        6            5       7
3      4  Sushant         2        1            4       3
4      5     Rhea         1        1            2       2
(40, 6)
(10, 6)

In [6]:
train_data=train_data.drop(labels='Sr.no',axis=1)

In [7]:
test_data=test_data.drop(labels='People',axis=1)

In [8]:
train_tar=train_data.pop('Output')
train_data.head()

     People  Insomnia  Anxiety  frustration
42   Hritik         1        2            3
13  Bhavesh         4        6            3
27   Pratik         1        3            6
40    Komal         5        5            1
22   Ganesh         9        8            4

In [9]:
test_tar=test_data.pop("Output")
test_data.head()

    Sr.no  Insomnia  Anxiety  frustration
6       7         6        5            6
8       9         2        4            4
9      10         3        5            6
12     13         9        9            2
24     25         6        4            6

In [10]:
mf = [[['gaussmf',{'mean':np.mean(np.arange(0,5)),
                   'sigma':np.std(np.arange(0,5))}],
       ['gaussmf',{'mean':np.mean(np.arange(3,7)),              
                   'sigma':np.std(np.arange(3,7))}],
       ['gaussmf',{'mean':np.mean(np.arange(6,10)),
                   'sigma':np.std(np.arange(6,10))}]],
      
      [['gaussmf',{'mean':np.mean(np.arange(0,5)),
                   'sigma':np.std(np.arange(0,5))}],
       ['gaussmf',{'mean':np.mean(np.arange(3,7)),              
                   'sigma':np.std(np.arange(3,7))}],
       ['gaussmf',{'mean':np.mean(np.arange(6,10)),
                   'sigma':np.std(np.arange(6,10))}]],
      
      [['gaussmf',{'mean':np.mean(np.arange(0,5)),
                   'sigma':np.std(np.arange(0,5))}],
       ['gaussmf',{'mean':np.mean(np.arange(3,7)),              
                   'sigma':np.std(np.arange(3,7))}],
       ['gaussmf',{'mean':np.mean(np.arange(6,10)),
                   'sigma':np.std(np.arange(6,10))}]]]

In [11]:
from membership import membershipfunction
mfc = membershipfunction.MemFuncs(mf)

ModuleNotFoundError: No module named 'skfuzzy'

In [ ]:
import anfis
anf = anfis.ANFIS(train_data,train_tar, mfc)

In [ ]:
predict_train=anf.trainHybridJangOffLine(epochs=30)

In [ ]:
anf.plotErrors()

In [ ]:
anf.plotResults()

In [ ]:
predict_train

In [ ]:
train_data